<%- include ('partials/header') %>


<div class="jumbotron">
	<h1 class="display-4">Vidzy Application</h1>
	<p class="lead">This is the list of most popular videos</p>
	<a class="btn btn-primary btn-lg" href="/videos/new" role="button">
	Add new video</a>
	<form class="row mt-2">
		
		<div class="col-md-9">
			<input type="text" id="searchBar" name="title" onkeyup="keyUpFunc()" class="form-control" placeholder="title">
		</div>
		<div class="col-md-3">
			<select name="genre" id="genre" class="form-control" onchange="changeFunc();">
				<option value=""></option>
				<option value="Animation">Animation</option>
				<option value="Fantasy">Fantasy</option>
				<option value="Comedy">Comedy</option>
				<option value="Romantic">Romantic</option>
				<option value="Drama">Drama</option>
			</select>
		</div>
		
			
		
	</form>
</div>





<div class="container">


<div class="row" id= "movies">
<% results.forEach(function(video){ %>
	<div class="sm-col-3" id="<%= video._id %>" style="display: block;">
		<img src="images/<%= video.image %>" style="width:200px; height:200px;" class="img-thumbnail"/>
		<div class="caption"><a href="videos/<%= video._id %>"><%= video.title %></a></div>
	</div>


<% }); %>

</div>
</div>

<%- include ('partials/footer') %>

<script>
	var temp = <%- JSON.stringify(results) %>;
	var movieList = temp.map(function(video) {
  			return video.title;
	});
	
	function changeFunc() {
		movieList = [];
		var select = document.getElementById("genre");
		var selectedValue = select.options[select.selectedIndex].value;
		selectedValue = selectedValue.toUpperCase();
		
		temp.forEach(function(video) {
			if(video.genre.toUpperCase().indexOf(selectedValue) > -1) {
				document.getElementById(video._id).style.display = "block";
				movieList.push(video.title);
			}
			else {
				document.getElementById(video._id).style.display = "none";
			}
		})
	}
	
	function keyUpFunc() {
		input = document.getElementById('searchBar');
  		filter = input.value.toUpperCase();
		temp.forEach(function(video) {
			
			if(video.title.toUpperCase().indexOf(filter) > -1 && movieList.includes(video.title)) {
				
				document.getElementById(video._id).style.display = "block";
				
			}
			else {
				document.getElementById(video._id).style.display = "none";
			}
		})
	}
</script>